@model GardenPlan.ViewModels.Plant.PlantCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlantCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <input asp-for="PlantName" class="form-control" />
                <span asp-validation-for="PlantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="Model.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlantTime" class="control-label"></label>
                <input asp-for="PlantTime" type="date" class="form-control" />
                <span asp-validation-for="PlantTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HarvestTime" class="control-label"></label>
                <input asp-for="HarvestTime" type="date" class="form-control" />
                <span asp-validation-for="HarvestTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sun" class="control-label"></label>
                <select asp-for="Sun" asp-items="Model.SunReqs"></select>
            </div>
            <div class="form-group">
                <label asp-for="Spacing" class="control-label"></label>
                <input asp-for="Spacing" class="form-control" />
                <span asp-validation-for="Spacing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <select asp-for="Duration" asp-items="Model.Durations"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaxTemp" class="control-label"></label>
                <input asp-for="MaxTemp" class="form-control" />
                <span asp-validation-for="MaxTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinTemp" class="control-label"></label>
                <input asp-for="MinTemp" class="form-control" />
                <span asp-validation-for="MinTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
