@{
    ViewData["Title"] = "GardenPlan";
}

<div class="text-center">
    <h1 class="display-4">GardenPlan</h1>
    <p>Welcome to the Garden Plan Site</p>

        <p> GardenPlan is designed to help you plan out your garden by providing information
            about a variety of plants including:</p>
            <ul>
                <li>Water needs</li>
                <li>Sunlight needs</li>
                <li>Spacing requirements</li>
                <li>Planting and Harvesting times</li>
            </ul>
            <p>This project will also let you share where your garden is growing and look at where others are
            growing their own gardens!</p>
           

    <p>Create an Account</p>
    <p>Log in</p>
</div>
