@{
    ViewData["Title"] = "GardenPlan";
}



<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <h1 class="display-4">GardenPlan</h1>
            <p>Your one-stop Garden Planning Site</p>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row align-items-center">
    <div class="col">
        <p>
            GardenPlan is designed to help you plan out your garden by providing information
            about a variety of plants including:
        </p>
        <ul>
            <li>Watering needs</li>
            <li>Sunlight needs</li>
            <li>Spacing requirements</li>
            <li>Planting and Harvesting times</li>
        </ul>
        <p>
            This site will also let you share where your garden is growing and look at where others are
            growing their own gardens!
        </p>
    </div>
    <div class="col text-center">
        <form action="/Identity/Account/Register">
            <button type="submit" class="btn btn-primary">Create an Account</button>
        </form>
        <br />
        <form action="/Identity/Account/LogIn">
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</div>

<div class="footer">
    <br />
    Photo by zanda.photography
</div>